---
layout: default
---
<main class="max-w-prose mx-auto">
  <div class="flex mb-2">
    <div class="grow">
      <h1 class="text-2xl text-navy-blue font-black">
        {{ page.title }}
      </h1>

      <ul class="inline-block">
        {% for author in page.authors %}
          <li class="inline-block">
            {% if author.author %}
              {% assign author_page = site.people | where: "author_id", author.author | first %}
            {% else %}
              {% assign author_page = nil %}
            {% endif %}

            {% if author_page %}
              <a href="{{ author_page.url | relative_url }}" class="base-link">{{ author.name }}</a>{% unless forloop.last %},{% endunless %}
            {% else %}
              {{ author.name }}{% unless forloop.last %}, {% endunless %}
            {% endif %}
          </li>
        {% endfor %}
      </ul>

      <p>
          {{ page.date | date_to_long_string }}
      </p>
    </div>
    <ul class="text-right">
        {% for link in page.links %}
            <li class="ml-auto"><a class="base-link" href="{{ link.last }}">[{{ link.first }}]</a></li>
        {% endfor %}
    </ul>
  </div>

  <div class="prose">
      {{ page.abstract | markdownify }}
  </div>
</main>